/* MAIN SITE STYLE */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    background: #ddd;
}

h1 {
    color: #222;
}

#lattice,
canvas {
    // outline: 1px solid red;
}