/* PRINT STYLES */
@media print {
  /* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  body {
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: black;
    background: none;
    font-size: 10pt;
  }

  /* line 45, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .container {
    background: none;
  }

  /* line 47, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  hr {
    background: #cccccc;
    color: #cccccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
  }
  /* line 55, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  hr.space {
    background: white;
    color: white;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  /* line 60, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  code {
    font-size: 0.9em;
    font-family: "andale mono", "lucida console", monospace;
  }

  /* line 65, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  a img {
    border: none;
  }
  /* line 68, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  a:link, a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
  }

  /* line 72, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  p img.top {
    margin-top: 0;
  }

  /* line 74, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: 0.9em;
  }

  /* line 79, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .small {
    font-size: 0.9em;
  }

  /* line 81, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .large {
    font-size: 1.1em;
  }

  /* line 83, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .quiet {
    color: #999999;
  }

  /* line 85, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
  .hide {
    display: none;
  }
}
