/* MAIN SITE STYLE */
/* line 2, sass/site.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background: #ddd;
}

/* line 8, sass/site.scss */
h1 {
  color: #222;
}
